[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
TTS = {git = "https://github.com/pugtech-co/TTS.git"}

jupyter = "*"
moviepy = "*"
opencv-python = "*"
scipy = "*"
setuptools = "*"

[requires]
python_version = "3.11"
